--extra-index-url=http://dist.pinaxproject.com/fresh-start/

Django>=1.2
celery>=2.1.4
django-celery>=2.1.4
PIL>=1.1.7
easy-thumbnails>=1.0-alpha-18
django-taggit>=0.9.3

git+http://github.com/MidwestCommunications/mimesis.git@mwc-thumbnail-property#egg=mimesis
git+http://github.com/MidwestCommunications/mimesis-mediaman.git#egg=mediaman

pinax-theme-bootstrap==0.1.dev2
django-endless-pagination==1.1
