{% extends "gallery/base.html" %}

{% load bootstrap_tags %}
{% load gallery_tags %}
{% load i18n %}
{% load thumbnail %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}mediaman/media-selector.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}gallery/gallery.css" />
<script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
{% endblock extra_head %}

{% block body %}

<h1>Editing details for {{ gallery.name }}</h1>

<a href="{% url gallery_details gallery.id %}">View gallery</a>  <a href="{% url gallery_edit gallery.id %}">Add Photos</a>  <a href="#" id="delete_link">Delete Gallery</a>

<form method="POST" action="{% url gallery_delete %}" id="gallery_delete_form">
    {% csrf_token %}
    {{ delete_form}}
</form>

<form method="POST" action="{% url gallery_edit_metadata gallery.pk %}" id="gallery_form">

    {% csrf_token %}
    {{ media_formset.management_form }}

    {% for form in media_formset %}
        {{ form.id }}
        <div class="mimesis_object">
            <div class="mimesis_details" id="details_{{ form.instance.pk }}">
                <p>{{ form.caption.label_tag }}: {{ form.caption }}</p>
                <p>{{ form.tags.label_tag }}: {{ form.tags }}</p>
                <p><label for="cover_image_{{ form.instance.pk }}">Gallery Cover</label>: <input type="radio" id="cover_image_{{ form.instance.pk }}" name="cover_image" value="{{ form.instance.pk }}" {% ifequal form.instance.id gallery.cover.id %} checked {% endifequal %}></p>
                <p>{{ form.delete.label_tag }}:   {{ form.delete }}</p>
            </div>
            <div class="mimesis_edit_image" id="img_{{ form.instance.pk }}">
                <img src="{% thumbnail form.instance.media thumbnail_sizes.medium %}" />
            </div>
        </div>
    {% endfor %}

    <div class="actions">

        <button type="submit" class="btn primary">{% trans "Update Gallery" %}</button>
    </div>
    </form>
{% endblock body %}

{% block extra_body %}

{% endblock %}
