{% extends "gallery/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Create a New Gallery" %}{% endblock %}

{% block body %}

<form action="{{ request.get_full_path }}" method="POST" encType="multipart/form-data" class="uniForm" id="gallery_form">
    {% csrf_token %}
    <div class="gallery_details">
    <fieldset>
        <legend>Gallery Details</legend>
        {{ gallery_form }}
    </fieldset>
    </div>
    <div class="actions">
        {# blocktrans here because the 'trans' tag doesn't work with template variables. #}
        <button type="submit" class="btn primary">{% blocktrans with action as action %}{{ action }} this Gallery{% endblocktrans %}</button>
    </div>
</form>

{% endblock %}
