{% extends "gallery/base.html" %}

{% load bootstrap_tags %}
{% load gallery_tags %}
{% load i18n %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}mediaman/media-selector.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}gallery/gallery.css" />
<script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
{% endblock extra_head %}

{% block body %}

<h1>Editing details for {{ gallery.name }}</h1>

<a href="{% url gallery_details gallery.id %}">View gallery</a>  <a href="{% url gallery_add_media gallery.id %}">Add Photos</a>  <a href="#" id="delete_link">Delete Gallery</a>

<form method="POST" action="{% url gallery_delete %}" id="gallery_delete_form">
    {% csrf_token %}
    {{ delete_form}}
</form>

<form method="POST" action="{% url gallery_edit_metadata gallery.pk %}" id="gallery_form">

    {% csrf_token %}
    {{ media_formset.management_form }}

    {% include "gallery/_edit_media_details.html" %}
    
    <div class="actions">

        <button type="submit" class="btn primary">{% trans "Update Gallery" %}</button>
    </div>
    </form>
{% endblock body %}

{% block extra_body %}

<script src="{{ STATIC_URL }}endless_pagination/js/endless.js"></script>
<script>

    $("#delete_link").click(function (event) {
        var confirmed = confirm("Really delete this gallery?");

        if (confirmed) {
            $("#gallery_delete_form").submit();
        }
    });

</script>

{% endblock %}
