        <li{% if media_item.attachments %} class="attached"{% endif %}>
            <span class="itemid">{{ media_item.id }}</span>
            <img width="48" height="48" src="{{ media_item.media.url }}">
            {% if media_item.caption %}
            <h4>{{ media_item.caption|truncatewords:"10" }}</h4>
            {% else %}
            <h4>No caption.</h4>
            {% endif %}
            <div class="file-type"><strong>File type:</strong> {{ media_item.mime_type }}</div>
        </li>
