{% extends "mediagal/base.html" %}

{% load thumbnail %}

{% block body %}

{% if galleries %}
<table>
<tr>
	<th>Gallery Name</th>
</tr>
{% for gallery in galleries %}
<tr>
    <td>
        {% if gallery.cover %}
        <img src="{% thumbnail gallery.cover.media thumbnail_sizes.large %}" alt="{{ gallery.name }}"/>
        {% endif %}
        <b><a href="{{ gallery.get_absolute_url }}">{{ gallery.name }}</a></b>
    </td>
</tr>
{% endfor %}
</table>
{% else %}
Sorry, no galleries.
{% endif %}
{% endblock %}
