.mimesis_object {
	margin: 10px;
	height: 300px;
	border-top-style: solid;
}

.mimesis_details {
	position:relative;
	top: 10px;
}
.mimesis_edit_image {
	position: relative;
	float: right;
	top: -50px;
	right: 10px;
}
