{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Galleries" %}{% endblock %}

{% block body_class %}galleries{% endblock %}

{% block body_base %}
    <div class="container">
        <div class="row">
            <div class="span4 columns">
                <h3>{% trans "Galleries" %}</h3>
                <ul>
                    <li><a href="{% url gallery_list %}">{% trans "Gallery List" %}</a></li>
                    <li><a href="{% url gallery_create %}">{% trans "Create Gallery" %}</a></li>
                </ul>
            </div>
            <div class="span12 columns">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
