{% extends "site_base.html" %}

{% load bootstrap_tags %}
{% load gallery_tags %}
{% load i18n %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}mediaman/media-selector.css" />
<script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
{% endblock extra_head %}

{% block body %}

<h1>Editing details for {{ gallery.name }}</h1>
    
<form method="POST" action="{% url gallery_edit_details gallery.pk %}" id="gallery_form">

    {% csrf_token %}
    {{ media_formset.management_form }}

    {% for form in media_formset %}
        {{ form.id }}
        {% include "gallery/_media_form.html" with form=form %}
    {% endfor %}
        
    <div class="actions">

        <button type="submit" class="btn primary">{% trans "Update Gallery" %}</button>
    </div>
    </form>
{% endblock body %}
