{% load i18n %}

{% if invalid_request %}

You must upload images from our <a href="{% url gallery_bulk_create %}">image uploader</a>

{% else %}

Files uploaded!

<form method="POST" action="{% url gallery_edit_details %}">
{% csrf_token %}

<fieldset>
{% for pk in uploads %}
    <input type="hidden" name="media" value="{{ pk }}">
{% endfor %}
</fieldset>

<div class="actions">
    <button type="submit" class="btn primary" id="image_ids_submit">{% trans "Edit Gallery Details" %}</button>
</div>
</form>

{% endif %}