{% extends "gallery/base.html" %}

{% load i18n %}
{% load bootstrap_form_filters %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}mediaman/media-selector.css" />
{% endblock %}

{% block head_title %}{% trans "Create a New Gallery" %}{% endblock %}

{% block body %}

<form action="{% url gallery_create %}" method="POST" encType="multipart/form-data" class="uniForm">
    {% csrf_token %}
    <fieldset>
        <legend>Gallery Details</legend>
        {{ gallery_form|as_bootstrap }}
    </fieldset>
    {{ media_formset.management_form }}
    {% for form in media_formset.forms %}
        <fieldset>
            <legend>Media Details</legend>
            {{ form|as_bootstrap }}
        </fieldset>
    {% endfor %}
    <div class="actions">
        <button type="submit" class="btn primary">{% trans "Create this Gallery" %}</button>
    </div>
</form>

{% endblock %}

{% block extra_body %}
    <script src="{{STATIC_URL}}mediaman/mediaman.js" type="text/javascript"></script>
{% endblock %}
