<h3>Preview/Edit</h3>
<span class="itemid">{{ media_item.id }}</span>
<div class="media-preview">
{% if media_item.media_type == 'image' %}
    <img src="{{ media_item.media.url }}" width="325">
{% endif %}
{% if media_item.media_type == 'video' %}
    <object width="325" height="260"><param name="movie" value="http://www.youtube.com/v/{{ media_item.media }}?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/{{ media_item.media }}?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="320" height="240"></embed></object>
{% endif %}
{% if media_item.media_type == 'audio' %}
    <embed type="application/x-shockwave-flash" wmode="transparent" src="http://www.google.com/reader/ui/3523697345-audio-player.swf?audioUrl={{ media_item.media.url }}" height="27" width="320"></embed>
{% endif %}
</div>
<form>
    {% csrf_token %}
    {{ form.as_p }}
    <input class="mimesis button" type="submit" value="Save & Attach" />
</form>
