<div class="mediaselector">
    <ul class="tabs">
        <li class="search current">Search</li>
        <li class="upload">Add</li>
    </ul>
    <div class="selectcontainer">
    {% include "mediaman/search.html" %}
    </div>
    <div class="attachedcontainer">
        <h3>Attached Media</h3>
        <ul class="medialist">
        {% for media_item in attached_media %}
            {% include "mediaman/list-item.html" %}
        {% endfor %}
        </ul>
    </div>
    <div class="previewcontainer">
        <h3>Preview</h3>
        <p>Loading...</p>
    </div>
</div>
