    <form enctype="multipart/form-data" action="/mediaman/mediaselector/upload/" method="post">
        {% csrf_token %}
        <div class="inputrow">
            <div class="inputgroup left">
                <input type="radio" name="mediaman-upload-type" value="upload" checked="checked">Upload</input>
                <input type="radio" name="mediaman-upload-type" value="embed">Embed</input>
            </div>
            <div class="inputgroup right upload">
                <label for="mediaman-upload-file">Upload:</label>
                <input type="file" name="mediaman-upload-file" size="15" />
            </div>
            <div class="inputgroup right embed">
                <label for="mediaman-embed-url">YouTube URL:</label>
                <input type="text" name="mediaman-embed-url" />
                <input type="button" value="Add Video" />
            </div>
        </div>
        <div class="inputrow">
            <h3>Your Media</h3>
            <div class="inputgroup right">
                <label for="mediaman-upload-status">Show:</label>
                <input type="radio" name="mediaman-upload-status" value="unattached" checked="checked">Unused</input>
                <input type="radio" name="mediaman-upload-status" value="all">All</input>
            </div>
        </div>
    </form>
    <ul class="medialist">
        {% include "mediaman/list.html" %}
    </ul>
